
Acceptance2GoProject/Podfile.lock
Acceptance2GoProject/Acceptance2Go/Acceptance2Go.xcodeproj/project.xcworkspace/xcuserdata/*

Acceptance2GoProject/Acceptance2Go.xcworkspace/xcuserdata/kennethpoon.xcuserdatad/UserInterfaceState.xcuserstate

Acceptance2GoProject/Acceptance2Go.xcodeproj/xcuserdata/kennethpoon.xcuserdatad/xcschemes/xcschememanagement.plist

Acceptance2GoProject/Acceptance2Go.xcodeproj/xcuserdata/kennethpoon.xcuserdatad/xcschemes/AcceptanceDemo.xcscheme

Acceptance2GoProject/Acceptance2Go.xcodeproj/xcuserdata/kennethpoon.xcuserdatad/xcschemes/AcceptanceDemo-cal.xcscheme

Acceptance2GoProject/Acceptance2Go.xcodeproj/project.xcworkspace/xcuserdata/kennethpoon.xcuserdatad/UserInterfaceState.xcuserstate

Acceptance2GoProject/Pods/*